In [1]:
import math
import heapq

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import pairwise_distances, linear_kernel, cosine_similarity

In [2]:
def read_file_csv(file_name):
    return pd.read_csv(file_name, encoding="ISO-8859-1")


def weighted_average_rating(counts_df, m, rating_mean_df, rating_all_mean):
    return (counts_df / (counts_df + m)) * rating_mean_df + (m / (counts_df + m)) * rating_all_mean


def get_top_k_recommendations(df, counts_df, k, columns, m):
    return df[counts_df >= m].nlargest(k, columns)


def get_age_range(age):
    if age % 10 == 0:
        age -= 1

    lower_bound = age - ((age % 10) - 1)
    upper_bound = age + (10 - (age % 10))

    return lower_bound, upper_bound

In [3]:
books_df = read_file_csv('./data/books.csv')
books_tags_df = read_file_csv('./data/books_tags.csv')
users_df = read_file_csv('./data/users.csv')
ratings_df = read_file_csv('./data/ratings.csv')
tags_df = read_file_csv('./data/tags.csv')
test_df = read_file_csv('./data/test.csv')

In [4]:
global b_r_u_df
b_r_u_df = pd.merge(books_df[['book_id', 'title']], ratings_df, on='book_id', how='inner')
b_r_u_df = pd.merge(b_r_u_df, users_df, on='user_id', how='inner')
b_r_u_df.head()

,book_id,title,user_id,rating,location,age
0,1,"The Hunger Games (The Hunger Games, #1)",3634,4,District of Columbia,92
1,4,To Kill a Mockingbird,3634,5,District of Columbia,92
2,5,The Great Gatsby,3634,3,District of Columbia,92
3,8,The Catcher in the Rye,3634,5,District of Columbia,92
4,17,"Catching Fire (The Hunger Games, #2)",3634,4,District of Columbia,92

In [5]:
global items_df
items_df = b_r_u_df[['book_id', 'title']].drop_duplicates(subset='book_id')
items_df.head()

   book_id                                    title
0        1  The Hunger Games (The Hunger Games, #1)
1        4                    To Kill a Mockingbird
2        5                         The Great Gatsby
3        8                   The Catcher in the Rye
4       17     Catching Fire (The Hunger Games, #2)

In [6]:
global ratings_df
ratings_df = b_r_u_df[['user_id', 'book_id', 'rating']]
ratings_df.head()

   user_id  book_id  rating
0     3634        1       4
1     3634        4       5
2     3634        5       3
3     3634        8       5
4     3634       17       4

# Non-Personalized

In [9]:
def merge_tables(b_r_u_df):
    # Dataframe that contains distribution of votes by book ID.
    nb_voters_data = b_r_u_df['book_id'].value_counts()
    nb_voters_df = pd.DataFrame(data={'book_id': nb_voters_data.index.tolist(), 'counts': nb_voters_data.values.tolist()})

    # Dataframe that contains distribution of rate averages by book ID.
    rating_mean_data = b_r_u_df.groupby(['book_id'])['rating'].mean()
    rating_mean_df = pd.DataFrame(data={'book_id': rating_mean_data.index.tolist(), 'rating_mean': rating_mean_data.values.tolist()})
    
    return nb_voters_df, nb_voters_data, rating_mean_df, rating_mean_data


def get_voters_and_means(nb_voters_data, rating_mean_df):
    m = nb_voters_data.quantile(0.90)
    rating_all_mean = rating_mean_df['rating_mean'].mean()
    return m, rating_all_mean


def calculate_WAR_and_top_k(df, m, rating_all_mean, k, columns):
    df['weighted_average_rating'] = weighted_average_rating(df['counts'], m, df['rating_mean'], rating_all_mean)
    return get_top_k_recommendations(df, df['counts'], k, columns, m)

## get_simply_recommendation

In [10]:
def get_simply_recommendation(k):
    global b_r_u_df
    
    nb_voters_df, nb_voters_data, rating_mean_df, rating_mean_data = merge_tables(b_r_u_df)
    m, rating_all_mean = get_voters_and_means(nb_voters_data, rating_mean_df)
    
    df = pd.merge(items_df, nb_voters_df, on='book_id', how='inner')
    df = pd.merge(df, rating_mean_df, on='book_id', how='inner')

    return calculate_WAR_and_top_k(df, m, rating_all_mean, k, ['weighted_average_rating'])

In [11]:
recommendation_df = get_simply_recommendation(10)
recommendation_df[['book_id','title','weighted_average_rating']].head(10)

,book_id,title,weighted_average_rating
504,25,Harry Potter and the Deathly Hallows (Harry Po...,4.338028
1,4,To Kill a Mockingbird,4.299843
506,102,Where the Wild Things Are,4.273212
370,85,The Giving Tree,4.240309
364,50,Where the Sidewalk Ends,4.239724
8,31,The Help,4.238851
425,144,"Unbroken: A World War II Story of Survival, Re...",4.221864
212,27,Harry Potter and the Half-Blood Prince (Harry ...,4.213906
0,1,"The Hunger Games (The Hunger Games, #1)",4.187383
663,133,"Anne of Green Gables (Anne of Green Gables, #1)",4.181489

## get_simply_place_recommendation

In [12]:
def get_simply_place_recommendation(place, k):
    global b_r_u_df
    
    b_r_u_place_df = b_r_u_df[b_r_u_df['location'] == place]
    
    nb_voters_df, nb_voters_data, rating_mean_df, rating_mean_data = merge_tables(b_r_u_place_df)
    m, rating_all_mean = get_voters_and_means(nb_voters_data, rating_mean_df)
    
    df = pd.merge(items_df, nb_voters_df, on='book_id', how='inner')
    df = pd.merge(df, rating_mean_df, on='book_id', how='inner')

    return calculate_WAR_and_top_k(df, m, rating_all_mean, k, ['weighted_average_rating'])

In [13]:
place_recommendation_df = get_simply_place_recommendation('Ohio', 10)
place_recommendation_df[['book_id','title','weighted_average_rating']].head(10)

,book_id,title,weighted_average_rating
310,126,Dune (Dune Chronicles #1),4.367963
602,143,All the Light We Cannot See,4.317786
356,144,"Unbroken: A World War II Story of Survival, Re...",4.266087
190,24,Harry Potter and the Goblet of Fire (Harry Pot...,4.249728
424,102,Where the Wild Things Are,4.226877
889,490,Maus I: A Survivor's Tale: My Father Bleeds Hi...,4.213664
1191,1462,The Orphan Master's Son,4.213664
1554,983,Between the World and Me,4.213664
884,119,The Handmaid's Tale,4.199565
800,89,The Princess Bride,4.190062

## get_simply_age_recommendation

In [14]:
def get_simply_age_recommendation(age, k):
    global b_r_u_df
    
    lower_bound, upper_bound = get_age_range(age)
    b_r_u_age_df = b_r_u_df[(b_r_u_df['age'] >= lower_bound) & (b_r_u_df['age'] <= upper_bound)]
    
    nb_voters_df, nb_voters_data, rating_mean_df, rating_mean_data = merge_tables(b_r_u_age_df)
    m, rating_all_mean = get_voters_and_means(nb_voters_data, rating_mean_df)
    
    df = pd.merge(items_df, nb_voters_df, on='book_id', how='inner')
    df = pd.merge(df, rating_mean_df, on='book_id', how='inner')

    return calculate_WAR_and_top_k(df, m, rating_all_mean, k, ['weighted_average_rating'])

In [15]:
age_recommendation_df = get_simply_age_recommendation(28, 10)
age_recommendation_df[['book_id','title','weighted_average_rating']].head(10)

,book_id,title,weighted_average_rating
502,25,Harry Potter and the Deathly Hallows (Harry Po...,4.326251
1,4,To Kill a Mockingbird,4.294203
368,85,The Giving Tree,4.289614
948,89,The Princess Bride,4.244702
659,133,"Anne of Green Gables (Anne of Green Gables, #1)",4.224914
362,50,Where the Sidewalk Ends,4.216411
504,102,Where the Wild Things Are,4.204680
418,70,"Ender's Game (Ender's Saga, #1)",4.204095
8,31,The Help,4.202891
209,21,Harry Potter and the Order of the Phoenix (Har...,4.196385

# Collaborative Filtering

In [16]:
unique_users = ratings_df['user_id'].unique()
unique_items = ratings_df['book_id'].unique()
n_users = unique_users.shape[0]
n_items = unique_items.shape[0]

# Working on user data.
unique_users.sort()
users_original_to_new = {original_index: new_index for original_index, new_index in zip(unique_users, range(n_users))}
users_new_to_original = {value: key for key, value in users_original_to_new.items()}

# Working on items data.
unique_items.sort()
items_original_to_new = {original_index: new_index for original_index, new_index in zip(unique_items, range(n_items))}
items_new_to_original = {value: key for key, value in items_original_to_new.items()}

In [17]:
data_matrix = np.empty((n_users, n_items))
data_matrix[:] = np.nan
for line in ratings_df.itertuples():
    user = users_original_to_new[line[1]]
    book = items_original_to_new[line[2]]
    rating = line[3]
    data_matrix[user, book] = rating


mean_user_rating = np.nanmean(data_matrix, axis=1).reshape(-1, 1)

ratings_diff = (data_matrix - mean_user_rating)
ratings_diff[np.isnan(ratings_diff)] = 0

In [18]:
def keep_top_k(arr, k):
    smallest = heapq.nlargest(k, arr)[-1]
    arr[arr < smallest] = 0
    return arr


user_similarity = 1-pairwise_distances(ratings_diff, metric='cosine')

k = 10
user_similarity = np.array([keep_top_k(np.array(arr), k) for arr in user_similarity])
pred = mean_user_rating + user_similarity.dot(ratings_diff) / np.array([np.abs(user_similarity).sum(axis=1)]).T

In [19]:
def get_recommendations(predicted_ratings_row, data_matrix_row, items, k=5):
    predicted_ratings_unrated = predicted_ratings_row.copy()
    predicted_ratings_unrated[~np.isnan(data_matrix_row)] = 0

    idx = np.argsort(-predicted_ratings_unrated)
    sim_scores = idx[0:k]

    books_original_indexes_df = pd.DataFrame(data={'book_id': [items_new_to_original[index] for index in sim_scores]})
    return pd.merge(books_original_indexes_df, items, on='book_id', how='inner')


def get_CF_recommendation(user_id, k):
    user_id = user_id - 1
    predicted_ratings_row = pred[user_id]
    data_matrix_row = data_matrix[user_id]

    return get_recommendations(predicted_ratings_row, data_matrix_row, items_df, k=k)

In [20]:
recommendations_by_user = get_CF_recommendation(user_id=1, k=10)
recommendations_by_user.head(10)

   book_id                                title
0      101               Me Talk Pretty One Day
1      775                            Just Kids
2      264                   The Sun Also Rises
3      289  Watership Down (Watership Down, #1)
4      335            James and the Giant Peach
5     1084                    To the Lighthouse
6      468         Their Eyes Were Watching God
7      184                              Matilda
8       83                 A Tale of Two Cities
9      344                                Naked

# Contact Based Filtering

In [21]:
bookreads_tags_df = pd.merge(books_tags_df, tags_df, on='tag_id', how='inner')

groupped_data = bookreads_tags_df.groupby('goodreads_book_id', as_index=False)['tag_name'].transform(lambda x: ' '.join(x))
books_tags_row_df = pd.DataFrame(data={'goodreads_book_id': groupped_data.index.tolist(), 'tag_name': groupped_data['tag_name'].values.tolist()})

b_t_df = pd.merge(books_df[['book_id', 'title', 'goodreads_book_id', 'original_publication_year','language_code', 'authors', 'original_title']], books_tags_row_df, on='goodreads_book_id', how='outer')
b_t_df['tag_name'] = b_t_df['tag_name'].fillna('')

# b_t_df['title_temp'] = b_t_df['title']

b_t_df.head()

,book_id,title,goodreads_book_id,original_publication_year,language_code,authors,original_title,tag_name
0,1.0,"The Hunger Games (The Hunger Games, #1)",2767052,2008.0,eng,Suzanne Collins,The Hunger Games,
1,2.0,Harry Potter and the Sorcerer's Stone (Harry P...,3,1997.0,eng,"J.K. Rowling, Mary GrandPrÃÂÃÂ©",Harry Potter and the Philosopher's Stone,to-read fantasy favorites currently-reading yo...
2,3.0,"Twilight (Twilight, #1)",41865,2005.0,en-US,Stephenie Meyer,Twilight,
3,4.0,To Kill a Mockingbird,2657,1960.0,eng,Harper Lee,To Kill a Mockingbird,to-read favorites currently-reading fiction bo...
4,5.0,The Great Gatsby,4671,1925.0,eng,F. Scott Fitzgerald,The Great Gatsby,to-read favorites currently-reading fiction bo...

In [22]:
def clean_data(x):
    x = str(x)
    x = str.lower(x)
    x = x.replace('-', '')
    return x


# features = ['title_temp', 'original_publication_year', 'language_code', 'tag_name', 'authors']
features = ['original_publication_year', 'language_code', 'tag_name', 'authors', 'original_title']


for feature in features:
    b_t_df[feature] = b_t_df[feature].apply(clean_data)

b_t_df.head()

,book_id,title,goodreads_book_id,original_publication_year,language_code,authors,original_title,tag_name
0,1.0,"The Hunger Games (The Hunger Games, #1)",2767052,2008.0,eng,suzanne collins,the hunger games,
1,2.0,Harry Potter and the Sorcerer's Stone (Harry P...,3,1997.0,eng,"j.k. rowling, mary grandprãâãâ©",harry potter and the philosopher's stone,toread fantasy favorites currentlyreading youn...
2,3.0,"Twilight (Twilight, #1)",41865,2005.0,enus,stephenie meyer,twilight,
3,4.0,To Kill a Mockingbird,2657,1960.0,eng,harper lee,to kill a mockingbird,toread favorites currentlyreading fiction book...
4,5.0,The Great Gatsby,4671,1925.0,eng,f. scott fitzgerald,the great gatsby,toread favorites currentlyreading fiction book...

In [23]:
def create_soup(x):
    return x['original_title'] + ' ' + x['original_publication_year'] + ' ' + x['language_code'] + ' ' + x['tag_name'] + ' ' + x['authors']


b_t_df['soup'] = b_t_df.apply(create_soup, axis=1)
# b_t_df.drop(['title_temp', 'original_publication_year', 'language_code', 'tag_name', 'authors'], axis=1, inplace=True)
b_t_df.drop(['original_publication_year', 'language_code', 'tag_name', 'authors', 'original_title'], axis=1, inplace=True)

b_t_df.head()

,book_id,title,goodreads_book_id,soup
0,1.0,"The Hunger Games (The Hunger Games, #1)",2767052,the hunger games 2008.0 eng suzanne collins
1,2.0,Harry Potter and the Sorcerer's Stone (Harry P...,3,harry potter and the philosopher's stone 1997....
2,3.0,"Twilight (Twilight, #1)",41865,twilight 2005.0 enus stephenie meyer
3,4.0,To Kill a Mockingbird,2657,to kill a mockingbird 1960.0 eng toread favori...
4,5.0,The Great Gatsby,4671,the great gatsby 1925.0 eng toread favorites c...

In [24]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(b_t_df['soup'])
print(count_matrix.shape)

(42535, 12846)

In [25]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

b_t_df = b_t_df.reset_index()
indices = pd.Series(b_t_df.index, index=b_t_df['title'])
print(indices[:10])

title
The Hunger Games (The Hunger Games, #1)                     0
Harry Potter and the Sorcerer's Stone (Harry Potter, #1)    1
Twilight (Twilight, #1)                                     2
To Kill a Mockingbird                                       3
The Great Gatsby                                            4
The Fault in Our Stars                                      5
The Hobbit                                                  6
The Catcher in the Rye                                      7
Angels & Demons  (Robert Langdon, #1)                       8
Pride and Prejudice                                         9
dtype: int64

In [26]:
def get_CBF_recommendations(book_name, cosine_sim=cosine_sim):
    idx = indices[book_name]

    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:k+1]

    book_indices = [i[0] for i in sim_scores]
    return b_t_df['title'].iloc[book_indices]

In [27]:
print(get_CBF_recommendations('The Hunger Games (The Hunger Games, #1)'))
print('\n\n')
print(get_CBF_recommendations('Twilight (Twilight, #1)'))

506     The Hunger Games Trilogy Boxset (The Hunger Ga...
16                   Catching Fire (The Hunger Games, #2)
19                      Mockingjay (The Hunger Games, #3)
1525     Gregor the Overlander (Underland Chronicles, #1)
3162    Gregor and the Curse of the Warmbloods (Underl...
3683    Gregor and the Prophecy of Bane (Underland Chr...
4670    Gregor and the Marks of Secret (Underland Chro...
4794         Father Mine (Black Dagger Brotherhood, #6.5)
383                       Frostbite (Vampire Academy, #2)
446                  Brisingr (The Inheritance Cycle, #3)
Name: title, dtype: object



4052    The Twilight Saga: The Official Illustrated Gu...
51                                 Eclipse (Twilight, #3)
72                                The Host (The Host, #1)
1613    The Twilight Saga Complete Collection  (Twilig...
3059    Twilight: The Graphic Novel, Vol. 1 (Twilight:...
990                    The Twilight Saga (Twilight, #1-4)
2015             The Twilight Collection (Twilight, #1-3)
55                           Breaking Dawn (Twilight, #4)
48                                New Moon (Twilight, #2)
3143                                            Elsewhere
Name: title, dtype: object

# Section 4 - Questions

In [28]:
high_rate_test_df = test_df[test_df['rating'] >= 4]
user_value_counts = high_rate_test_df['user_id'].value_counts()
user_value_counts_df = pd.DataFrame(data={'user_id': user_value_counts.index.tolist(), 'appearances': user_value_counts.values.tolist()})
user_value_counts_df = user_value_counts_df[user_value_counts_df['appearances'] >= 10]

user_value_counts_df.head()

   user_id  appearances
0     3017           13
1     2384           13
2       20           12
3     1169           12
4      290           12

In [29]:
def precision_k(k):
    calculations_list = []
    for user_idx in user_value_counts_df['user_id'].values:
        user_recommendations = get_CF_recommendation(user_id=user_idx, k=k)

        counter = 0
        for book_idx in user_recommendations['book_id'].values:
            chosen_book = high_rate_test_df[(high_rate_test_df['user_id'] == user_idx) & (high_rate_test_df['book_id'] == book_idx)]
            if chosen_book.shape[0] == 1:
                counter += 1

        calculations_list.append(counter / k)

    return sum(calculations_list) / user_value_counts_df.shape[0]

print(precision_k(10))

0.08

In [30]:
def ARHA(k):
    calculations_list = []
    for user_idx in user_value_counts_df['user_id'].values:
        user_recommendations = get_CF_recommendation(user_id=user_idx, k=k)


        user_high_rate_df = high_rate_test_df[high_rate_test_df['user_id'] == user_idx]
        user_rec_merged_df = pd.merge(user_recommendations, user_high_rate_df, on='book_id', how='inner')

        for position in user_rec_merged_df.index + 1:
            calculations_list.append(1 / position)

    return sum(calculations_list) / user_value_counts_df.shape[0]


print(ARHA(10))

0.6466666666666666

In [31]:
def get_recommendations_RMSE(user_id):
    user_id = user_id - 1
    predicted_ratings_row = pred[user_id]
    data_matrix_row = data_matrix[user_id]

    predicted_ratings_unrated = predicted_ratings_row.copy()
    predicted_ratings_unrated[~np.isnan(data_matrix_row)] = 0

    book_ids = np.argsort(-predicted_ratings_unrated)
    books_rating = np.sort(predicted_ratings_unrated)[::-1]

    return {idx: rating for idx, rating in zip(book_ids, books_rating)}

def RMSE():
    sum_error = 0
    count_lines = 0
    for user_id, test_user_data in test_df.groupby('user_id'):
        user_recommendations = get_recommendations_RMSE(user_id)
        for row in test_user_data.itertuples(index=False):
            _, test_book_id, rating = tuple(row)
            prediction = user_recommendations[test_book_id] if test_book_id in user_recommendations else 0
            sum_error += (prediction - rating)**2
            count_lines += 1

    return math.sqrt(sum_error/count_lines)
    
    
print(RMSE())

1.4425274877802985