In [26]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import TfidfVectorizer

# Overeview

In [4]:
metadata = pd.read_csv('../data/movies_metadata1.csv', low_memory=False)
metadata.head()

,title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [5]:
#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

In [6]:
#Replace NaN with an empty string
metadata['overview'] = metadata['overview'].fillna('')

In [7]:
#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

#Output the shape of tfidf_matrix
print(tfidf_matrix.shape)

(45465, 75827)

In [8]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

print(cosine_sim.shape)
print(cosine_sim[1])

(45465, 45465)
[0.01504119 1.         0.0468195  ... 0.         0.02198638 0.00929405]

In [9]:
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()
print("INDICES")
print(indices[:10])

INDICES
title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [10]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies (the first is the movie we asked)
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]


    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [11]:
print('********************** The Dark Knight Rises ****************************')
print(get_recommendations('The Dark Knight Rises'))
print('************************ Mean Girls **************************')
print(get_recommendations('Mean Girls'))
print('*********************** Star Wars ***************************')
print(get_recommendations('Star Wars'))
print('*********************** Robots ***************************')
print(get_recommendations('Robots'))
print('*********************** The Princess Diaries ***************************')
print(get_recommendations('The Princess Diaries'))

********************** The Dark Knight Rises ****************************
12481                                      The Dark Knight
150                                         Batman Forever
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
585                                                 Batman
21194    Batman Unmasked: The Psychology of the Dark Kn...
9230                    Batman Beyond: Return of the Joker
18035                                     Batman: Year One
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
Name: title, dtype: object
************************ Mean Girls **************************
40082                     Black Wax
1296                      Cape Fear
41840    The Witching of Ben Wagner
13775                    The Clique
1295                      Cape Fear
41513                           Sam
15086            Death at a Funeral
35996                Plastic Planet
3675                   The In Crowd
30600                 Lick the Star
Name: title, dtype: object
*********************** Star Wars ***************************
1154                               The Empire Strikes Back
30434                        The Star Wars Holiday Special
26555                         Star Wars: The Force Awakens
1167                                    Return of the Jedi
34153           Samson and the Seven Miracles of the World
1267                                          Mad Dog Time
5187                                   The Triumph of Love
37833                                         Call to Arms
25104    1½ Knights - In Search of the Ravishing Prince...
24388                                      Sleeping Beauty
Name: title, dtype: object
*********************** Robots ***************************
7861         Mayor of the Sunset Strip
156                           Clockers
31251          The Mother Of Invention
29961    Carry On Don't Lose Your Head
28077              Cody the Robosapien
6047                         Dark Blue
4188                       Ice Castles
17354                   Broken Windows
2333                         In Dreams
45255                            LA 92
Name: title, dtype: object
*********************** The Princess Diaries ***************************
29072                             The Young Rajah
32459                                         Joy
5187                          The Triumph of Love
8081     The Princess Diaries 2: Royal Engagement
17368                                 In Her Skin
18840                          Goodbye First Love
20668                                Alabama Moon
5758                           New Waterford Girl
16977                                     Spooner
30178                                     Matilda
Name: title, dtype: object

# Structured

In [19]:
metadata = pd.read_csv('../data/movies_metadata1.csv', low_memory=False)
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [20]:
credits = pd.read_csv('../data/credits.csv')
keywords = pd.read_csv('../data/keywords.csv')

In [21]:
# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503])

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

# Print the first two movies of your newly merged metadata
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [22]:
# Add 2
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [24]:
#Add 3
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [27]:
#Add 4
# Define new director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

# Print the new features of the first 3 films
print(metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3))

              title                                            cast  \
0         Toy Story             [Tom Hanks, Tim Allen, Don Rickles]
1           Jumanji  [Robin Williams, Jonathan Hyde, Kirsten Dunst]
2  Grumpier Old Men      [Walter Matthau, Jack Lemmon, Ann-Margret]

        director                                           keywords  \
0  John Lasseter                               [jealousy, toy, boy]
1   Joe Johnston  [board game, disappearance, based on children'...
2  Howard Deutch       [fishing, best friend, duringcreditsstinger]

                         genres
0   [Animation, Comedy, Family]
1  [Adventure, Fantasy, Family]
2             [Romance, Comedy]

In [28]:
#Add 5
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [29]:
#Add 6
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

metadata[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [30]:
#Add 7
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])
print(count_matrix.shape)

(46628, 73881)

In [31]:
#Add 8
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
# Reset index of your main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])
print(indices[:10])

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [32]:
# # Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim2):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies (the first is the movie we asked)
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]


    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [33]:
print('********************** The Dark Knight Rises ****************************')
print(get_recommendations('The Dark Knight Rises'))
print('************************ Mean Girls **************************')
print(get_recommendations('Mean Girls'))
print('*********************** Star Wars ***************************')
print(get_recommendations('Star Wars'))
print('*********************** Robots ***************************')
print(get_recommendations('Robots'))
print('*********************** The Princess Diaries ***************************')
print(get_recommendations('The Princess Diaries'))

********************** The Dark Knight Rises ****************************
12589      The Dark Knight
10210        Batman Begins
9311                Shiner
9874       Amongst Friends
7772              Mitchell
516      Romeo Is Bleeding
11463         The Prestige
24090            Quicksand
25038             Deadfall
41063                 Sara
Name: title, dtype: object
************************ Mean Girls **************************
6513                                   Freaky Friday
7232            Confessions of a Teenage Drama Queen
8190                                     The Cookout
22574                                      The Guide
41590     The First Annual 'On Cinema' Oscar Special
43758    The Fourth Annual 'On Cinema' Oscar Special
44914                                   World Cinema
46134                               Puolin ja toisin
44021                                 Lovely Complex
26316                                   Picture This
Name: title, dtype: object
*********************** Star Wars ***************************
1175                          The Empire Strikes Back
1188                               Return of the Jedi
22889                              Behind Enemy Lines
685                                              Solo
2534        Star Wars: Episode I - The Phantom Menace
5292     Star Wars: Episode II - Attack of the Clones
7982                             The Last Starfighter
10157    Star Wars: Episode III - Revenge of the Sith
22120                                    Ender's Game
26770                    Star Wars: The Force Awakens
Name: title, dtype: object
*********************** Robots ***************************
29198                                      Superstar Goofy
3336                                     Creature Comforts
25238                                           Gone Nutty
27606                                                Anina
43071                        Dexter's Laboratory: Ego Trip
1131                                    The Wrong Trousers
28005                                        Radiopiratene
29607                                          Cheburashka
40904                   VeggieTales: Josh and the Big Wall
40913    VeggieTales: Minnesota Cuke and the Search for...
Name: title, dtype: object
*********************** The Princess Diaries ***************************
8164     The Princess Diaries 2: Royal Engagement
18630                         What's Up, Scarlet?
23438                         Made For Each Other
28005                               Radiopiratene
35734                        Act Like You Love Me
35735                        Act Like You Love Me
41371                                     Uncle P
44021                              Lovely Complex
34646               Jis Desh Mein Ganga Rehta Hai
11925                                Georgia Rule
Name: title, dtype: object